.footer {
  background: black;
  color: white;
  text-align: center;
  padding: 20px;
}

.links a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

p {
  margin-top: 10px;
  font-size: 0.9rem;
}
