/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&family=Poppins:wght@300;400;500&display=swap");

body {
  font-family: "Poppins", sans-serif;
  color: #333;
}

h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
} */
